@import './vendor/bulma.min.css';

.card { box-shadow: 0 0 0; border: 0; float: left; padding: 1rem; max-height: 285px; max-width: 275px;}
.hero { background-position: center; background-size: cover;}